ny_taxi_postgres_data

__pycache__/

*.py[cod]

.ipynb_checkpoints

.DS_Store .

/week_1/data

/week_1/terraform/.terraform

/week_1/*.csv

week_2/airflow/logs/*

week_3/airflow/logs/*

week_4/airflow/logs/*

week_3/tmp

week_3/serving_dir

week_5/.DS_Store

.DS_Store .